<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8">
        <title>Solving Polynomial</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <script>
        let showDetails = false;

        function displayDetails() {
            if (!showDetails) {
                document.getElementById("details").style.display = "block";
                showDetails = true;
            }
            else {
                showDetails = false;
                document.getElementById("details").style.display = "none";
            }
        }
        </script>
    </head>
    <body>
    <div id="header">
        <p>Computor v1</p>
    </div>
    <div id="form">
        <form method="POST">{% csrf_token %}
            {{ form}}
            <button type="submit">Solve!</button>
        </form>
    </div>
    <div id="solution">
        {% if reduced %}
            <p><b>Reduced form:</b> {{ reduced }}</p>
        {% endif %}
        {% if degree %}
            <p><b>Polynomial degree:</b> {{ degree }}</p>
        {% endif %}
        {% if solution %}
            <p>{{ solution|safe }}</p>
        {% endif %}
        {% if error %}
            <p>{{ error }}</p>
        {% elif details %}
            <input id="details_button" type="button" onclick="displayDetails()" value="Details">
        {% endif %}
        {% autoescape off %}
        <div id="details">
            <p>{% for elem in details %}
                {% if ':' in elem %}
                    <b>{{ elem }}</b>
                {% else %}
                    {{ elem }}
                {% endif %}
            {% endfor %}
            </p>
        </div>
        {% endautoescape %}
    </div>
    </body>
</html>